// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import './assets/scss/_color';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$todo-app-angular-primary: mat-palette($custom-primary);
$todo-app-angular-accent: mat-palette($custom-primary);

// The warn palette is optional (defaults to red).
$todo-app-angular-warn: mat-palette($custom-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$todo-app-angular-theme: mat-light-theme((
  color: (
    primary: $todo-app-angular-primary,
    accent: $todo-app-angular-accent,
    warn: $todo-app-angular-warn,
  )
));

$custom-typography: mat-typography-config(
  $font-family: 'Mitr, sans-serif',
  $headline: mat-typography-level(32px, 40px, 500),
  $body-1: mat-typography-level(16px, 24px, 400)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($todo-app-angular-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: 'Mitr', sans-serif;
}
