<div class="full-page">
  <div class="account-wrapper">
    <h1>Change Password</h1>

    <form [formGroup]="form" (ngSubmit)="submit()" class="custom-form">
      <mat-form-field appearance="outline">
        <mat-label>Current Password</mat-label>
        <input type="password" matInput formControlName="currentPassword" >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input type="password" matInput formControlName="newPassword" >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Comfirm New Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
      </mat-form-field>

      <button mat-flat-button color="primary" class="btn-block" [disabled]="!form.valid">Save</button>
    </form>

    <button mat-button color="primary" [routerLink]="['/']" class="btn-block mt-1">Cancel</button>

  </div>
</div>